---
import Document from '../layouts/Document.astro'
import { For, Iterate, iterate } from '@astropub/flow'
---
<Document title="Astro For Component">
	<h1>
		The <code>&lt;For&gt;</code> Component
	</h1>
	<hr />
	<h2>
		Usage with <code>iterate()</code>
	</h2>
	<pre><code
>&lt;ul&gt;&lcub;iterate([
	&lcub; title: 'This is the first item.' &rcub;,
	&lcub; title: 'This is the second item.' &rcub;,
	&lcub; title: 'This is the last item.' &rcub;,
], item =&gt; (
	&lt;li&gt;&lcub;item.title&rcub; (method)&lt;/li&gt;
)&rcub;&lt;/ul&gt;</code></pre>
	<ul>{iterate([
		{ title: 'This is the first item.' },
		{ title: 'This is the second item.' },
		{ title: 'This is the last item.' },
	], item => (
		<li>{item.title} (method)</li>
	))}</ul>
	<br />
	<h2>
		Usage with <code>&lt;Iterate&gt;</code>
	</h2>
	<pre><code
>&lt;ul&gt;
	&lt;Iterate of=&lcub;[
		&lcub; title: 'This is the first item.' &rcub;,
		&lcub; title: 'This is the second item.' &rcub;,
		&lcub; title: 'This is the last item.' &rcub;,
	]&rcub;&gt;&lcub;item =&gt; (
		&lt;li&gt;&lcub;item.title&rcub; (component)&lt;/li&gt;
	)&rcub;&lt;/Iterate&gt;
&lt;/ul&gt;</code></pre>
	<ul>
		<Iterate of={[
			{ title: 'This is the first item.' },
			{ title: 'This is the second item.' },
			{ title: 'This is the last item.' },
		]}>{item => (
			<li>{item.title} (component)</li>
		)}</Iterate>
	</ul>
	<br />
	<h2>
		Usage with <code>iterate()</code> and a Generator
	</h2>
	<pre><code
>&lt;ul&gt;&lcub;iterate([
	&lcub; title: 'This is the first item.' &rcub;,
	&lcub; title: 'This is the second item.' &rcub;,
	&lcub; title: 'This is the last item.' &rcub;,
], function * (item) &lcub;
	yield &lt;li&gt;&lcub;item.title&rcub; (method + generator)&lt;/li&gt;
&rcub;&lt;/ul&gt;</code></pre>
	<ul>{iterate([
		{ title: 'This is the first item.' },
		{ title: 'This is the second item.' },
		{ title: 'This is the last item.' },
	], function * (item) {
		yield <li>{item.title} (method + generator)</li>
	})}</ul>
	<br />
	<h2>
		Usage with <code>&lt;For&gt;</code> and a Generator
	</h2>
	<pre><code
>&lt;ul&gt;
	&lt;For of=&lcub;[
		&lcub; title: 'This is the first item.' &rcub;,
		&lcub; title: 'This is the second item.' &rcub;,
		&lcub; title: 'This is the last item.' &rcub;,
	]&rcub;&gt;&lcub;function * (item) &lcub;
		yield &lt;li&gt;&lcub;item.title&rcub; (component)&lt;/li&gt;
	&rcub;&lt;/For&gt;
&lt;/ul&gt;</code></pre>
	<ul>
		<For of={[
			{ title: 'This is the first item.' },
			{ title: 'This is the second item.' },
			{ title: 'This is the last item.' },
		]}>{function * (item) {
			yield <li>{item.title} (component + generator)</li>
		}}</For>
	</ul>
	<br />
	<h2>
		Usage with Empty <code>&lt;For&gt;</code>
	</h2>
	<pre><code
>&lt;For /&gt;</code></pre>
	<For />
	<hr />
	<p>
		<a href="../">Go back</a>
	</p>
</Document>