---
import Document from "../layouts/Document.astro";
---

<Document title="Astro Flow">
	<h1>Astro Flow</h1>
	<p>
		<strong>Astro Flow</strong> lets you use control flow statements in Astro.
	</p>
	<hr />
	<section>
		<h2>Demonstrations</h2>
		<ul>
			<li>
				<a href="./for/">The <code>&lt;For&gt;</code> component</a>
			</li>
			<li>
				<a href="./switch/"
					>The <code>&lt;Switch&gt;</code> component.</a
				>
			</li>
			<li>
				<a href="./when/">The <code>&lt;When&gt;</code> component.</a>
			</li>
		</ul>
	</section>
</Document>
